In [51]:
import numpy as np
import pandas as pd
from scipy import stats
import math

T Test

In [ ]:
#possion distributiion random but important

In [57]:
#THIS is for 1 sample test. (with population)
#stats.ttest_1samp(sampledataset,popmean=population mean) gives t-value and p-value of the sample mean
#stats.t.ppf(q=percentage of the bell curve u need lower or upper point ,df= number of observations -1)
#stats.t.interval(confidence interval u want,df=uknow,scale=std of sample/len of sample,loc=mean of sample) gives confidence interval
#stats.t.cdf(t_value,df=uknow) gives p-value of one tail.

In [55]:
#p_value is the percentage level at which the point lie on the bell curve and used to say weather there is significant diffrence or not .
#i.e if p_value is more than 5% it is by chnace so null is accepted(comes in confidance level)
#if p_value is less than 5% than make it significant on the bell cureve and out of 95% therefore null is rejected

In [56]:
#THIS is for 2 sample test. (with sample2)
#if independent from each other
#stats.ttest_ind(a=sample1,b=sample2,equal_var=false or ture baed on having equal variance)
#gives p_VALUE and gives the percentage by chance they are different
#if related (paired t-test)
#stats.ttest_rel(a=sample1,b=sample2)

In [14]:
data = np.random.randint(1,9000,size=(5,50))

In [15]:
data

array([[6654, 3880, 2436, 7118, 5268, 7135, 5508, 1256, 2931,  837, 2727,
        7108, 8672, 6930, 8091,  147,  926, 5001, 5397, 1273, 3560,  278,
        2258,  397, 6891, 8656, 6689, 3616, 8071,  217, 1730, 6324, 1510,
        5276, 5372, 5898, 3483,   77,  988, 7976, 6897, 6264,  432,  175,
        5828, 6846, 1048, 2143, 2280, 7439],
       [5942, 6916, 2187, 4243, 8556, 2136, 6581, 6285, 8626, 7735, 1253,
        2861, 5255, 4761,  900,  957, 1763, 2562, 4289, 3331, 4562,  483,
        5418, 3577, 4431, 4318, 2046, 5285,  146,  545, 2277, 1632,  943,
        4775, 3245, 1167, 5283, 7338, 2999,  467, 8047, 1688, 2734, 2289,
        7044, 3941, 4308,  465,  167, 8623],
       [3780, 7297, 3760, 4686, 4507,  105, 7160, 6231, 3373, 8162, 2595,
        7136, 2956, 5576, 1840, 1554, 7147, 6627, 2789, 5292,  263, 5127,
        1894, 8458, 3754,  154, 4337, 5799, 1926, 8952, 2370, 7476, 7430,
        3118, 1859,  697, 8588, 6315, 3356, 6186, 7541, 8973, 4650, 2293,
        1732, 3943, 5829, 4535, 4495, 5394],
       [4834, 2462,  305, 3891, 4433, 3602, 2014, 6056, 8334, 3997, 1982,
        7458,  441, 2366, 4898, 5366, 4741,  906,  465, 1595, 6335, 8526,
        1073, 6600, 2436, 2174, 5208, 4112, 4902, 8479, 6974, 5872, 8153,
        3005, 2205, 4944, 4802, 4919, 7955, 4822, 7925, 4109,  173, 6939,
         559, 5656, 1614, 1557, 7894,  268],
       [1175, 7095, 5491,  663, 6135, 1792, 5750, 6962,  972, 8812, 7465,
        2856, 4062, 8476, 8021, 8146, 2146,  626, 2694, 8164, 3255, 6574,
        6153, 8909, 4728, 1927, 6093,  494, 4441, 3058, 4694, 6468,  549,
        6229, 3894, 8408, 2343, 6091, 3864,  679, 4179, 5166, 7321, 8530,
        8274, 5971, 8804, 5331, 3522, 2749]])

In [22]:
df1 = data[1,:]

In [23]:
df

array([5942, 6916, 2187, 4243, 8556, 2136, 6581, 6285, 8626, 7735, 1253,
       2861, 5255, 4761,  900,  957, 1763, 2562, 4289, 3331, 4562,  483,
       5418, 3577, 4431, 4318, 2046, 5285,  146,  545, 2277, 1632,  943,
       4775, 3245, 1167, 5283, 7338, 2999,  467, 8047, 1688, 2734, 2289,
       7044, 3941, 4308,  465,  167, 8623])

In [24]:
df.mean()

3747.64

In [25]:
data.mean()

4327.4

In [21]:
stats.ttest_1samp(df1,popmean=data.mean())

Ttest_1sampResult(statistic=-1.639511363469351, pvalue=0.10751226680766243)

In [26]:
df2 = data[2,:]

In [54]:
df2.mean()

4600.34

In [29]:
stats.ttest_1samp(df2,popmean=data.mean())

Ttest_1sampResult(statistic=0.7799582492510196, pvalue=0.4391668014976351)

In [32]:
stats.t.ppf(q=0.025,df=249)

-1.9695368676395828

In [33]:
stats.t.ppf(q=0.975,df=249)

1.9695368676395824

In [50]:
 stats.t.cdf(x=-1.99,df=249) *2

0.047684575635756676

In [52]:
stats.t.interval(0.95,df=249,loc=df1.mean(),scale=df1.std()/math.sqrt(50))

(3058.176991982301, 4437.103008017699)

In [53]:
df1.mean()

3747.64

In [58]:
#used to show the probality of x<120; loc is mean and scale is std
stats.norm.cdf(120, loc=130,scale=40)

0.4012936743170763

Chi-squared

In [60]:
national = pd.DataFrame(['white']*100000 + ['hispanic']*60000 + ['black']*50000 +['asian']*15000 + ['other']*35000)

In [63]:
national_table = pd.crosstab(index=national[0],columns='count')

In [65]:
minnesota = pd.DataFrame(['white']*600 + ['hispanic']*300 + ['black']*250 +['asian']*75 + ['other']*150)

In [67]:
minnesota_table = pd.crosstab(index=minnesota[0],columns='count')

In [69]:
# sum[(0bserved-expected)**2/expected ].    chi-sq-statatic

In [70]:
observed= minnesota_table
n_ratio = national_table/len(national)
expected = n_ratio*len(minnesota)

In [71]:
observed

col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

In [72]:
expected

col_0          count
0
asian      79.326923
black     264.423077
hispanic  317.307692
other     185.096154
white     528.846154

In [73]:
chi_sq_stat = (((observed-expected)**2)/expected).sum()

In [74]:
chi_sq_stat

col_0
count    18.194805
dtype: float64

In [75]:
crit_value = stats.chi2.ppf(q=0.95,df=4)  #0.95 as one tail.....df=n-1 n is categories

In [81]:
print(crit_value)  #ref chi-sq-static value

9.487729036781154

In [82]:
p_value = 1- stats.chi2.cdf(x=chi_sq_stat,df=4)

In [83]:
print(p_value)

[0.00113047]

In [84]:
1- stats.chi2.cdf(x=crit_value,df=4)

0.050000000000000044

In [86]:
stats.chisquare(f_obs=observed,f_exp=expected)  #direct method

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))

In [87]:
#stats.chi2_contingency(observed) used with 2d array of 2 samples how 2 category is realated

ANOVA

In [103]:
np.random.seed(12)
races = ["Asian","Black","hispanic","other","White"]

voter_race = np.random.choice(a=races,p=[0.05,0.15,0.25,0.05,0.5],size=1000)
voter_age= stats.poisson.rvs(loc=18,mu=30,size=1000)

data = pd.DataFrame({"Age":voter_age,"Race":voter_race})
data.head()
groups = data.groupby("Race").groups

In [105]:
asian = voter_age[groups["Asian"]]
black = voter_age[groups["Black"]]
hispanic = voter_age[groups["hispanic"]]
other = voter_age[groups["other"]]
white = voter_age[groups["White"]]


#ANOVA
stats.f_oneway(asian,black,hispanic,other,white)

F_onewayResult(statistic=1.7744689357329695, pvalue=0.13173183201930463)

In [107]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Age~Race',data=data).fit()

In [108]:
anova_result = sm.stats.anova_lm(model,typ=2)

In [109]:
anova_result

             sum_sq     df         F    PR(>F)
Race        199.369    4.0  1.774469  0.131732
Residual  27948.102  995.0       NaN       NaN